<!DOCTYPE html>
<html lang="en">

<head>
    <title>董事长致辞</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/speech.css">
</head>

<body>
    <!-- header -->
    <section class="head">
        <div class="header">
            <a href="#" class="logo">LOGO</a>
            <ul>
                <li>
                    <a href="../index.html">首页</a>
                </li>
                <li>
                    <a href="#">灵芝知识</a>
                </li>
                <li>
                    <a href="#">公司简介</a>
                </li>
                <li>
                    <a href="#">林芝文化</a>
                </li>
                <li>
                    <a href="#">产业园</a>
                </li>
                <li>
                    <a href="#">养生谷</a>
                </li>
                <li>
                    <a href="#">人力资源</a>
                </li>
                <li>
                    <a href="#">新闻中心</a>
                </li>
                <li>
                    <a href="#">产品展示</a>
                </li>
                <li>
                    <a href="#">联系方式</a>
                </li>
                <li>
                    <a href="#">请您留言</a>
                </li>
                <a href="#" class="search"></a>
            </ul>
        </div>
    </section>
    <!-- panel -->
    <section class="panel">
        <div class="panel_box">
            <div class="panel_text">
                <p>欢迎您加入山东中信生物科技有限公司，相信您的选择是正确的！中信生物科技有限公司将以优惠的价格、过硬的产品质量为您提供能够施展才华的天地。同时，您的每一份努力必将得到丰厚的回报！</p>
                <p>山东中信生物科技有限公司自90年创建以来，现已初具规模，全体员工共同努力，奋发向上，都为中信生物的发展尽到应尽的义务和责任。中信生物发展到今天经营思路清晰、目标明确，在产品开发、市场拓展、媒体策略、企业文化、品牌建设、人才战略、资本运作等各个方面全方位打造企业的综合竞争力，达到并超越用户对我们的期望。我将和全体员工一道为开创我们美好的未来，为将中信生物科技有限公司的事业发展壮大起来，携手并肩，共同努力！</p>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section class="footer">
        <div class="foot_nav">
            <ul>
                <li>首页</li>
                <li>收藏本站</li>
                <li>联系我们</li>
                <li>设为首页</li>
                <li>管理入口</li>
            </ul>
            <span>Copyright©All Rights Reserved.中信生物科技。鲁ICP备05055618号。山东中信生物科技有限公司 山东省泰安高新区配天门大街2099号</span>
        </div>
    </section>
</body>

</html>